In [1]:
pwd

'/Users/ellismok/Desktop/Challenges/ca-school-enrollment-trend/Yearly Merged Employment Workbook'

In [2]:
# Dependencies and Setup
import pandas as pd
import pathlib
import csv
import scipy.stats as st
import numpy as np

In [9]:
# Create paths for csv

employment_unified_2015_data = "../Merged Employment/Resources/output_employment_data/Unified2015.csv"
employment_elementary_2015_data = "../Merged Employment/Resources/output_employment_data/Elementary2015.csv"
employment_secondary_2015_data = "../Merged Employment/Resources/output_employment_data/Secondary2015.csv"

In [10]:
# UNIFIED 2015

employment_unified_2015 = pd.read_csv(employment_unified_2015_data)
# pd.DataFrame(employment_unified_2015)

In [11]:
# ELEMENTARY 2015

employment_elementary_2015 = pd.read_csv(employment_elementary_2015_data)
# pd.DataFrame(employment_elementary_2015)

In [12]:
# SECONDARY 2015 

employment_secondary_2015 = pd.read_csv(employment_secondary_2015_data)
# pd.DataFrame(employment_secondary_2015)

In [14]:
list_of_files = [
    "../Merged Employment/Resources/output_employment_data/Unified2015.csv",
    "../Merged Employment/Resources/output_employment_data/Elementary2015.csv",
    "../Merged Employment/Resources/output_employment_data/Secondary2015.csv"
]

# Format pd.read_csv(filename).assign(year=2015)
employment_2015_df = []
for i,filename in enumerate(list_of_files):
    X1 = pd.read_csv(filename)
    X1["year"] = 2015
    employment_2015_df.append(X1)
    
# Combine the data into a single dataset
employment_2015_data = pd.concat(employment_2015_df)
employment_2015_merged = pd.DataFrame(employment_2015_data)

In [15]:
# Save csv file 

employment_2015_merged.to_csv("../Merged Employment/Resources/merged_employment_yearly/Merged_Employment_2015.csv")

In [16]:
employment_2015_merged

,Unnamed: 0,Total!!Estimate!!Population 16 years and over,Total!!Estimate!!Population 20 to 64 years,Employment/Population Ratio!!Estimate!!Population 16 years and over,Employment/Population Ratio!!Estimate!!Population 20 to 64 years,Unemployment rate!!Estimate!!Population 16 years and over,Unemployment rate!!Estimate!!Population 20 to 64 years,NCESDist,year,School District Type
0,1,74447,58032,50.4,61.2,14.7,13.8,600014,2015,Unified
1,2,63117,47536,58.9,72.4,3.7,3.3,600016,2015,Unified
2,3,60729,41043,45.6,61.5,11.9,10.7,600017,2015,Unified
3,4,61495,46442,63.4,76.7,3.9,3.5,600020,2015,Unified
4,5,100489,77187,53.9,66.2,9.6,8.1,600027,2015,Unified
...,...,...,...,...,...,...,...,...,...,...
40,41,387982,303427,55.6,66.9,8.4,8.0,638640,2015,Secondary
41,42,96348,65205,62.3,79.3,3.2,3.1,638790,2015,Secondary
42,43,57630,43497,52.4,65.7,6.1,5.1,639930,2015,Secondary
43,44,186085,145658,58.3,70.6,6.2,5.9,642480,2015,Secondary
44,45,218386,171082,62.9,74.6,6.3,5.6,642510,2015,Secondary