In [10]:
pwd

'/Users/ellismok/Desktop/Challenges/ca-school-enrollment-trend'

In [1]:
# Dependencies and Setup
import pandas as pd
import pathlib
import csv
import scipy.stats as st
import numpy as np

In [2]:
# Create paths for csv

employment_unified_2017_data = "../Merged Employment/Resources/output_employment_data/Unified2017.csv"
employment_elementary_2017_data = "../Merged Employment/Resources/output_employment_data/Elementary2017.csv"
employment_secondary_2017_data = "../Merged Employment/Resources/output_employment_data/Secondary2017.csv"

In [3]:
# UNIFIED 2017

employment_unified_2017 = pd.read_csv(employment_unified_2017_data)
# pd.DataFrame(employment_unified_2017)

In [4]:
# ELEMENTARY 2017

employment_elementary_2017 = pd.read_csv(employment_elementary_2017_data)
# pd.DataFrame(employment_elementary_2017)

In [5]:
# SECONDARY 2017 

employment_secondary_2017 = pd.read_csv(employment_secondary_2017_data)
# pd.DataFrame(employment_secondary_2017)

In [6]:
list_of_files = [
    "../Merged Employment/Resources/output_employment_data/Unified2017.csv",
    "../Merged Employment/Resources/output_employment_data/Elementary2017.csv",
    "../Merged Employment/Resources/output_employment_data/Secondary2017.csv"
]

# Format pd.read_csv(filename).assign(year=2017)
employment_2017_df = []
for i,filename in enumerate(list_of_files):
    X1 = pd.read_csv(filename)
    X1["year"] = 2017
    employment_2017_df.append(X1)
    
# Combine the data into a single dataset
employment_2017_data = pd.concat(employment_2017_df)
employment_2017_merged = pd.DataFrame(employment_2017_data)

In [7]:
# Save csv file 

employment_2017_merged.to_csv("../Merged Employment/Resources/merged_employment_yearly/Merged_Employment_2017.csv")

In [8]:
employment_2017_merged

,Unnamed: 0,Total!!Estimate!!Population 16 years and over,Total!!Estimate!!Population 20 to 64 years,Employment/Population Ratio!!Estimate!!Population 16 years and over,Employment/Population Ratio!!Estimate!!Population 20 to 64 years,Unemployment rate!!Estimate!!Population 16 years and over,Unemployment rate!!Estimate!!Population 20 to 64 years,NCESDist,year,School District Type
0,1,67426,52971,52.9,64.6,16.7,15.7,609070,2017,Unified
1,2,89037,71964,57.7,67.8,5.5,5.4,609390,2017,Unified
2,3,114688,92881,53.9,63.2,8.1,7.6,609620,2017,Unified
3,4,111769,77249,61.8,78.5,3.1,2.3,609640,2017,Unified
4,5,221791,173109,61.9,74.2,5.0,4.6,609850,2017,Unified
...,...,...,...,...,...,...,...,...,...,...
40,41,390043,301252,54.6,67.1,9.0,7.5,638640,2017,Secondary
41,42,93797,62959,59.0,74.3,5.0,5.4,638790,2017,Secondary
42,43,57010,45072,57.6,69.7,5.9,5.0,639930,2017,Secondary
43,44,177140,133678,58.6,72.9,3.5,3.2,642480,2017,Secondary
44,45,208964,163856,62.6,73.5,5.0,4.6,642510,2017,Secondary