In [4]:
pwd

'/Users/ellismok/Desktop/Challenges/ca-school-enrollment-trend'

In [1]:
# Dependencies and Setup
import pandas as pd
import pathlib
import csv
import scipy.stats as st
import numpy as np

In [2]:
# Create paths for csv

employment_unified_2018_data = "../Merged Employment/Resources/output_employment_data/Unified2018.csv"
employment_elementary_2018_data = "../Merged Employment/Resources/output_employment_data/Elementary2018.csv"
employment_secondary_2018_data = "../Merged Employment/Resources/output_employment_data/Secondary2018.csv"

In [3]:
# UNIFIED 2018

employment_unified_2018 = pd.read_csv(employment_unified_2018_data)
# pd.DataFrame(employment_unified_2018)

In [4]:
# ELEMENTARY 2018

employment_elementary_2018 = pd.read_csv(employment_elementary_2018_data)
# pd.DataFrame(employment_elementary_2018)

In [5]:
# SECONDARY 2018 

employment_secondary_2018 = pd.read_csv(employment_secondary_2018_data)
# pd.DataFrame(employment_secondary_2018)

In [6]:
list_of_files = [
    "../Merged Employment/Resources/output_employment_data/Unified2018.csv",
    "../Merged Employment/Resources/output_employment_data/Elementary2018.csv",
    "../Merged Employment/Resources/output_employment_data/Secondary2018.csv"
]

# Format pd.read_csv(filename).assign(year=2018)
employment_2018_df = []
for i,filename in enumerate(list_of_files):
    X1 = pd.read_csv(filename)
    X1["year"] = 2018
    employment_2018_df.append(X1)
    
# Combine the data into a single dataset
employment_2018_data = pd.concat(employment_2018_df)
employment_2018_merged = pd.DataFrame(employment_2018_data)

In [7]:
# Save csv file 

employment_2018_merged.to_csv("../Merged Employment/Resources/merged_employment_yearly/Merged_Employment_2018.csv")

In [8]:
employment_2018_merged

,Unnamed: 0,Estimate!!Total!!Population 16 years and over,Estimate!!Employment/Population Ratio!!Population 16 years and over,Estimate!!Unemployment rate!!Population 16 years and over,Estimate!!Total!!Population 20 to 64 years,Estimate!!Employment/Population Ratio!!Population 20 to 64 years,Estimate!!Unemployment rate!!Population 20 to 64 years,NCESDist,year,School District Type
0,1,109560,58.1,3.9,79537,69.6,3.6,604740,2018,Unified
1,2,63248,62.3,3.8,49083,75.9,3.3,634710,2018,Unified
2,3,50539,56.1,3.4,34450,74.2,3.6,604290,2018,Unified
3,4,71904,50.2,5.8,52289,61.1,4.7,610620,2018,Unified
4,5,166990,46.8,10.7,104703,67.2,10.4,611110,2018,Unified
...,...,...,...,...,...,...,...,...,...,...
40,41,210381,66.3,3.8,159619,78.2,4.0,636390,2018,Secondary
41,42,116166,45.9,8.5,90657,56.1,6.9,636972,2018,Secondary
42,43,93496,67.2,2.7,74250,79.7,2.3,626310,2018,Secondary
43,44,74234,49.0,3.5,46503,68.7,3.3,630750,2018,Secondary
44,45,59999,57.8,8.5,47576,66.3,8.5,639930,2018,Secondary