In [1]:
import pandas as pd
import requests

In [2]:
url="https://api.census.gov/data/2018/acs/acs1/subject?get=group(S2301)&for=school%20district%20(unified)&in=state:06"

In [3]:
response = requests.get(url)
response

In [13]:
response_json = response.json()

In [14]:
unifiedschool_df = pd.DataFrame(response_json,columns=response_json[0]).drop(0)
unifiedschool_df

,GEO_ID,S2301_C01_001E,S2301_C01_001M,S2301_C02_001E,S2301_C02_001M,S2301_C03_001E,S2301_C03_001M,S2301_C04_001E,S2301_C04_001M,S2301_C01_002E,...,S2301_C01_035EA,S2301_C01_035MA,S2301_C02_035EA,S2301_C02_035MA,S2301_C03_035EA,S2301_C03_035MA,S2301_C04_035EA,S2301_C04_035MA,state,school district (unified)
1,9700000US0604740,109560,1896,60.4,2.5,58.1,2.4,3.9,1.1,13361,...,None,None,None,None,None,None,None,None,06,04740
2,9700000US0634710,63248,5649,64.7,3.2,62.3,3.2,3.8,1.5,2582,...,None,None,None,None,None,None,None,None,06,34710
3,9700000US0604290,50539,3443,58.4,3.8,56.1,3.7,3.4,1.9,2779,...,None,None,None,None,None,None,None,None,06,04290
4,9700000US0610620,71904,2236,53.4,3.5,50.2,3.2,5.8,2.0,11523,...,N,N,N,N,N,N,N,N,06,10620
5,9700000US0611110,166990,4015,52.4,2.5,46.8,2.6,10.7,2.2,6463,...,None,None,None,None,None,None,None,None,06,11110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,9700000US0622230,135023,7111,59.3,2.5,54.9,2.6,7.2,1.7,9182,...,None,None,None,None,None,None,None,None,06,22230
117,9700000US0625830,52738,3451,66.0,2.9,63.8,3.0,3.4,1.7,3406,...,None,None,None,None,None,None,None,None,06,25830
118,9700000US0633150,215142,8576,63.1,2.1,59.4,2.2,5.5,1.3,22415,...,None,None,None,None,None,None,None,None,06,33150
119,9700000US0638010,151285,6832,60.2,2.3,55.8,2.5,7.3,1.5,13202,...,None,None,None,None,None,None,None,None,06,38010
120,9700000US0643080,53395,2211,63.7,3.7,60.7,4.2,4.7,2.0,4069,...,None,None,None,None,None,None,None,None,06,43080

In [6]:
unifiedschool_df.loc[unifiedschool_df["NAME"]=="Hesperia Unified School District, California"]

,GEO_ID,S2301_C01_001E,S2301_C01_001M,S2301_C02_001E,S2301_C02_001M,S2301_C03_001E,S2301_C03_001M,S2301_C04_001E,S2301_C04_001M,S2301_C01_002E,...,S2301_C01_035EA,S2301_C01_035MA,S2301_C02_035EA,S2301_C02_035MA,S2301_C03_035EA,S2301_C03_035MA,S2301_C04_035EA,S2301_C04_035MA,state,school district (unified)
35,9700000US0600014,77198,4075,56.7,3.7,51.6,3.4,8.5,2.5,5259,...,None,None,None,None,None,None,None,None,06,00014

In [7]:
## REMAME

In [8]:
variableurl = "https://api.census.gov/data/2018/acs/acs1/subject/variables.json"

In [15]:
variables_json = requests.get(variableurl).json()

In [10]:
assert len(new_labels) == len(unifiedschool_df.columns)

NameError: name 'new_labels' is not defined