In [1]:
import pandas as pd
import pathlib

In [48]:
school_directory_filepath = "Resources/ca-school-list.csv"
sy_1516_filpath = "Resources/2015-16-enrollment.csv"

In [49]:
school_directory_df = pd.read_csv(school_directory_filepath)
school_directory_df = school_directory_df.rename(columns = {"CDSCode":"CDS_CODE"})
school_directory_df

/Users/seidy/opt/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,CDS_CODE,NCESDist,NCESSchool,StatusType,County,District,School,Street,StreetAbr,City,...,Virtual,Magnet,YearRoundYN,FederalDFCDistrictID,Latitude,Longitude,AdmFName,AdmLName,AdmEmail,LastUpDate
0,1100170000000,0691051,No Data,Active,Alameda,Alameda County Office of Education,No Data,313 West Winton Avenue,313 West Winton Ave.,Hayward,...,No Data,No Data,No Data,No Data,37.658212,-122.09713,L Karen,Monroe,lkmonroe@acoe.org,8/15/2020
1,1100170109835,0691051,10546,Closed,Alameda,Alameda County Office of Education,FAME Public Charter,"39899 Balentine Drive, Suite 335","39899 Balentine Dr., Ste. 335",Newark,...,P,N,N,No Data,37.521436,-121.99391,No Data,No Data,No Data,9/1/2015
2,1100170112607,0691051,10947,Active,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,1515 Webster Street,1515 Webster St.,Oakland,...,N,N,N,0601614,37.804520,-122.26815,Manuschka,Michaud,mmichaud@envisionacademy.org,8/13/2020
3,1100170118489,0691051,12283,Closed,Alameda,Alameda County Office of Education,Aspire California College Preparatory Academy,2125 Jefferson Avenue,2125 Jefferson Ave.,Berkeley,...,N,N,N,No Data,37.868991,-122.27844,No Data,No Data,No Data,7/1/2015
4,1100170123968,0691051,12844,Active,Alameda,Alameda County Office of Education,Community School for Creative Education,2111 International Boulevard,2111 International Blvd.,Oakland,...,N,N,N,0601691,37.784648,-122.23863,Ida,Oberman,ida@communityschoolforcreativeeducation.org,10/8/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18158,58727695830039,0642350,No Data,Closed,Yuba,Wheatland Union High,Wheatland Continuation,PO Box 398,PO Box 398,Wheatland,...,No Data,No Data,N,No Data,No Data,No Data,No Data,No Data,No Data,6/24/1999
18159,58727695830070,0642350,No Data,Closed,Yuba,Wheatland Union High,Wheatland Alternative Education,801 Olive Street,801 Olive St.,Wheatland,...,No Data,No Data,N,No Data,No Data,No Data,No Data,No Data,No Data,6/24/1999
18160,58727695830120,0642350,08437,Closed,Yuba,Wheatland Union High,Academy for Career Education Charter,801 Olive Street,801 Olive St.,Wheatland,...,No Data,No Data,N,No Data,39.010399,-121.42927,No Data,No Data,No Data,7/2/2013
18161,58727695838305,0642350,06930,Active,Yuba,Wheatland Union High,Wheatland Union High,1010 Wheatland Road,1010 Wheatland Rd.,Wheatland,...,N,N,N,No Data,38.998968,-121.45497,Cy,Olsen,colsen@wheatlandhigh.org,8/13/2020
18162,Total Records =,18162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
sy_1516_df = pd.read_csv(sy_1516_filpath)
sy_1516_df.head()

,CDS_CODE,COUNTY,DISTRICT,SCHOOL,ETHNIC,GENDER,KDGN,GR_1,GR_2,GR_3,...,GR_7,GR_8,UNGR_ELM,GR_9,GR_10,GR_11,GR_12,UNGR_SEC,ENR_TOTAL,ADULT
0,1100170131581,Alameda,Alameda County Office of Education,Oakland Unity Middle,4,M,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1100170131581,Alameda,Alameda County Office of Education,Oakland Unity Middle,5,F,0,0,0,0,...,11,0,0,0,0,0,0,0,33,0
2,1100170131581,Alameda,Alameda County Office of Education,Oakland Unity Middle,7,F,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1100170131581,Alameda,Alameda County Office of Education,Oakland Unity Middle,6,F,0,0,0,0,...,2,0,0,0,0,0,0,0,4,0
4,1100170131581,Alameda,Alameda County Office of Education,Oakland Unity Middle,5,M,0,0,0,0,...,10,0,0,0,0,0,0,0,30,0

In [72]:
enroll_test = sy_1516_df[["CDS_CODE", "COUNTY", "DISTRICT", "SCHOOL", "ENR_TOTAL"]]
total_enroll_test = enroll_test.groupby(by="CDS_CODE").sum()

In [77]:
total_enrollment_series = total_enroll_test["ENR_TOTAL"]

In [91]:
de_duped_test = enroll_test.drop_duplicates(subset="CDS_CODE")
re_indexed = de_duped_test.set_index("CDS_CODE")
re_indexed["Total Enrollment"] = total_enrollment_series
new_df = re_indexed[["COUNTY", "DISTRICT", "SCHOOL", "Total Enrollment"]]
new_df

,COUNTY,DISTRICT,SCHOOL,Total Enrollment
CDS_CODE,,,,
1100170131581,Alameda,Alameda County Office of Education,Oakland Unity Middle,76
1611190000001,Alameda,Alameda Unified,"Nonpublic, Nonsectarian Schools",36
1611190106401,Alameda,Alameda Unified,Alameda Science and Technology Institute,175
1100170124172,Alameda,Alameda County Office of Education,Yu Ming Charter,307
1100170125567,Alameda,Alameda County Office of Education,Urban Montessori Charter,317
...,...,...,...,...
58727516056816,Yuba,Wheatland,Bear River,566
58727690000001,Yuba,Wheatland Union High,"Nonpublic, Nonsectarian Schools",1
58727516118806,Yuba,Wheatland,Wheatland Charter Academy,87
58727366056725,Yuba,Marysville Joint Unified,Loma Rica Elementary,95
58727690123570,Yuba,Wheatland Union High,Wheatland Community Day High,2

In [105]:
merged_df = pd.merge(new_df, school_directory_df, on="CDS_CODE", how="left")
merged_df

,CDS_CODE,COUNTY,DISTRICT,SCHOOL,Total Enrollment,NCESDist,NCESSchool,StatusType,County,District,...,Virtual,Magnet,YearRoundYN,FederalDFCDistrictID,Latitude,Longitude,AdmFName,AdmLName,AdmEmail,LastUpDate
0,1100170131581,Alameda,Alameda County Office of Education,Oakland Unity Middle,76,0691051,13887,Active,Alameda,Alameda County Office of Education,...,N,N,N,0602346,37.759123,-122.19094,Sau-Lim (Lance),Tsang,stsang@unityhigh.org,9/24/2020
1,1611190000001,Alameda,Alameda Unified,"Nonpublic, Nonsectarian Schools",36,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1611190106401,Alameda,Alameda Unified,Alameda Science and Technology Institute,175,0601770,10547,Active,Alameda,Alameda Unified,...,N,Y,N,No Data,37.780753,-122.27930,Tracy,Corbally,tcorbally@alamedaunified.org,8/13/2020
3,1100170124172,Alameda,Alameda County Office of Education,Yu Ming Charter,307,0691051,12901,Active,Alameda,Alameda County Office of Education,...,N,N,N,0602013,37.847375,-122.28356,Sue,Park,spark@yumingschool.org,2/13/2019
4,1100170125567,Alameda,Alameda County Office of Education,Urban Montessori Charter,317,0691051,13008,Active,Alameda,Alameda County Office of Education,...,N,N,N,0601816,37.786794,-122.18817,Krishna,Feeney,krishnaf@urbanmontessori.org,8/16/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10456,58727516056816,Yuba,Wheatland,Bear River,566,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10457,58727690000001,Yuba,Wheatland Union High,"Nonpublic, Nonsectarian Schools",1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10458,58727516118806,Yuba,Wheatland,Wheatland Charter Academy,87,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10459,58727366056725,Yuba,Marysville Joint Unified,Loma Rica Elementary,95,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10460,58727690123570,Yuba,Wheatland Union High,Wheatland Community Day High,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
merged_df.to_csv("merged_test.csv")

In [96]:
merged_df.columns

Index(['CDS_CODE', 'COUNTY', 'DISTRICT', 'SCHOOL', 'Total Enrollment',
       'NCESDist', 'NCESSchool', 'StatusType', 'County', 'District', 'School',
       'Street', 'StreetAbr', 'City', 'Zip', 'State', 'MailStreet',
       'MailStrAbr', 'MailCity', 'MailZip', 'MailState', 'Phone', 'Ext',
       'FaxNumber', 'Email', 'WebSite', 'OpenDate', 'ClosedDate', 'Charter',
       'CharterNum', 'FundingType', 'DOC', 'DOCType', 'SOC', 'SOCType',
       'EdOpsCode', 'EdOpsName', 'EILCode', 'EILName', 'GSoffered', 'GSserved',
       'Virtual', 'Magnet', 'YearRoundYN', 'FederalDFCDistrictID', 'Latitude',
       'Longitude', 'AdmFName', 'AdmLName', 'AdmEmail', 'LastUpDate'],
      dtype='object')

In [97]:
master_school_df = merged_df[["CDS_CODE", "SCHOOL", "District", "County", "Street", "Zip", "City", "State", "Total Enrollment"]]
# master_school_df.to_csv("master_school_test.csv")

In [98]:
master_school_df

,CDS_CODE,SCHOOL,District,County,Street,Zip,City,State,Total Enrollment
0,1100170131581,Oakland Unity Middle,Alameda County Office of Education,Alameda,1180 70th Avenue,94621-3216,Oakland,CA,76
1,1611190000001,"Nonpublic, Nonsectarian Schools",NaN,NaN,NaN,NaN,NaN,NaN,36
2,1611190106401,Alameda Science and Technology Institute,Alameda Unified,Alameda,555 Ralph Appezzato Memorial Parkway,94501-2109,Alameda,CA,175
3,1100170124172,Yu Ming Charter,Alameda County Office of Education,Alameda,1086 Alcatraz Avenue,94608-1265,Oakland,CA,307
4,1100170125567,Urban Montessori Charter,Alameda County Office of Education,Alameda,4551 Steele Street,94619-3312,Oakland,CA,317
...,...,...,...,...,...,...,...,...,...
10456,58727516056816,Bear River,NaN,NaN,NaN,NaN,NaN,NaN,566
10457,58727690000001,"Nonpublic, Nonsectarian Schools",NaN,NaN,NaN,NaN,NaN,NaN,1
10458,58727516118806,Wheatland Charter Academy,NaN,NaN,NaN,NaN,NaN,NaN,87
10459,58727366056725,Loma Rica Elementary,NaN,NaN,NaN,NaN,NaN,NaN,95
10460,58727690123570,Wheatland Community Day High,NaN,NaN,NaN,NaN,NaN,NaN,2

In [102]:
school_df_2 = master_school_df.dropna(how="any")
school_df_2

,CDS_CODE,SCHOOL,District,County,Street,Zip,City,State,Total Enrollment
0,1100170131581,Oakland Unity Middle,Alameda County Office of Education,Alameda,1180 70th Avenue,94621-3216,Oakland,CA,76
2,1611190106401,Alameda Science and Technology Institute,Alameda Unified,Alameda,555 Ralph Appezzato Memorial Parkway,94501-2109,Alameda,CA,175
3,1100170124172,Yu Ming Charter,Alameda County Office of Education,Alameda,1086 Alcatraz Avenue,94608-1265,Oakland,CA,307
4,1100170125567,Urban Montessori Charter,Alameda County Office of Education,Alameda,4551 Steele Street,94619-3312,Oakland,CA,317
5,1100176002000,Lazear Charter Academy,Alameda County Office of Education,Alameda,824 29th Avenue,94601-2205,Oakland,CA,459
...,...,...,...,...,...,...,...,...,...
9616,33670826032114,Idyllwild,Hemet Unified,Riverside,26700 State Highway 243,92549-0097,Idyllwild,CA,338
9617,33670903334687,Nueva Vista Continuation High,Jurupa Unified,Riverside,6836 34th Street,92509-1301,Jurupa Valley,CA,367
9618,33670906032189,Mission Bell Elementary,Jurupa Unified,Riverside,4020 Conning Street,92509-2599,Jurupa Valley,CA,447
9619,33670906032213,Rustic Lane Elementary,Jurupa Unified,Riverside,6420 Rustic Lane,92509-5780,Jurupa Valley,CA,679
9639,33670906032197,Pacific Avenue Elementary,Jurupa Unified,Riverside,6110 45th Street,92509-7201,Jurupa Valley,CA,347

In [104]:
school_df_2.to_csv("school_df_2.csv")