In [1]:
# Dependencies
import pandas as pd
import pathlib

# filepaths
school_enrollment_path_19 = "output_data/school_directory_enrollment.csv"
econ_data_path = "Unified2019.csv"

In [2]:
econ_data_df = pd.read_csv(econ_data_path)
school_data19_df = pd.read_csv(school_enrollment_path_19)

In [3]:
# data types must match for them to be joined on
school_data19_df.dtypes

Unnamed: 0     int64
CDS_CODE       int64
SCHOOL        object
School        object
District      object
NCESDist      object
County        object
Street        object
Zip           object
City          object
State         object
year           int64
ENR_TOTAL      int64
dtype: object

In [4]:
is_2019 = school_data19_df["year"] == 2019
school19_df = school_data19_df.loc[is_2019, :]

In [5]:
district_groups_df = school19_df.groupby(by=["NCESDist"]).sum()
district_enroll_total_df = district_groups_df["ENR_TOTAL"].reset_index()
district_enroll_total_df

    NCESDist  ENR_TOTAL
0    0600001      11499
1    0600002         64
2    0600003        350
3    0600006       2028
4    0600007        337
..       ...        ...
817  0691122        866
818  0691134       1611
819  0691135      19917
820  0691136       1026
821  No Data       8137

[822 rows x 2 columns]

In [28]:
new_econ_df = econ_data_df.astype({"NCESDist":"object"})
new_district_df = district_enroll_total_df["ENR_TOTAL"].astype({"ENR_TOTAL":"object"})

In [29]:
# this did not work - i don't know why
econ_enrollment_2019_df = pd.merge(new_econ_df, district_enroll_total_df, on="NCESDist", how="outer")

In [43]:
# this one did work
econ_test_df = new_econ_df.join(new_district_df, how="left")
joined_df_test = econ_test_df.drop(columns="Unnamed: 0")

In [49]:
# resetting dtypes to ints to make analysis possible
new_test_df = joined_df_test.astype({"ENR_TOTAL":"int64", "NCESDist":"int64"})
new_test_df.head()

,Geography,NAME,Estimate!!Total!!Population 16 years and over,Estimate!!Total!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!White alone,Estimate!!Total!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!Black or African American alone,Estimate!!Total!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!American Indian and Alaska Native alone,Estimate!!Total!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!Asian alone,Estimate!!Total!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!Native Hawaiian and Other Pacific Islander alone,Estimate!!Total!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!Some other race alone,Estimate!!Total!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races,...,Estimate!!Unemployment rate!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!Some other race alone,Estimate!!Unemployment rate!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races,Estimate!!Unemployment rate!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!Hispanic or Latino origin (of any race),"Estimate!!Unemployment rate!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!White alone, not Hispanic or Latino",Estimate!!Unemployment rate!!Population 20 to 64 years,STATE,SCHOOL DISTRICT (UNIFIED),NCESDist,year,ENR_TOTAL
0,9700000US0632070,"Redlands Unified School District, California",103753,75568,-999999999,-999999999,-999999999,-999999999,-999999999,-999999999,...,-999999999.0,-999999999.0,4.9,6.7,5.2,6,32070,632070,2019,11499
1,9700000US0632550,"West Contra Costa Unified School District, Cal...",205097,65715,32732,-999999999,44059,-999999999,51712,9171,...,3.5,7.1,3.3,3.2,2.7,6,32550,632550,2019,64
2,9700000US0633150,"Riverside Unified School District, California",215389,123698,14620,-999999999,19921,-999999999,44992,-999999999,...,6.8,-999999999.0,5.5,3.4,4.4,6,33150,633150,2019,350
3,9700000US0633750,"Rowland Unified School District, California",87017,20198,-999999999,-999999999,41285,-999999999,21700,-999999999,...,7.3,-999999999.0,5.5,6.1,6.5,6,33750,633750,2019,2028
4,9700000US0633840,"Sacramento City Unified School District, Calif...",274468,146375,29800,-999999999,49604,-999999999,27093,16922,...,7.5,8.3,7.3,5.5,5.5,6,33840,633840,2019,337

In [48]:
new_test_df.to_csv("joined_df_test.csv")